@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=MedievalSharp&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
  overflow-x: hidden;
  background-color: #1e3c2f;
  min-height: 100vh;
}


#app {
    background-color: #1e3c2f;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}


.search-icon {
  display: flex;
  align-items: center;
}


h1 {
  font-size: 100px;
  color: white;
  margin-bottom: 12px;
}

h2 {
  font-size: 44px;
  color: white;
  margin-bottom: 12px;
}

p {
  color: white;
  font-size: 18px;
}

.error {
    color: red;
}
